<p>
  Proudly published with
  <a href="https://prismic.io" target="_blank">Prismic</a>
</p>
<a href="https://prismic.io" target="_blank">
  <img class="footer-logo" src="/images/logo-prismic.svg" />
</a>
