extends ./layout.pug

block title
  title Page not found
block body
  body
    div.main.page-404
      div.outer-container
        div.back
          a(href='./') back to list

        h1 Page not found
        p We're sorry, we can't seem to find the page you are looking for.