include post-content-preview
- var general = helpers.general
head
    title !{bloghome.getText("bloghome.headline")}
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="stylesheet", href="/stylesheets/common.css")
    link(rel="stylesheet", href="/stylesheets/blog.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="/javascript/vendors/jquery-1.11.2.min.js")
body.page
    div.main
    - var image = bloghome.getImage('bloghome.image')
    - var maybeBloghomeImageUrl = image? image.getView("main").url : ''
    - var illustrationUrl = maybeBloghomeImageUrl ? maybeBloghomeImageUrl : ''

    div.blog-header.home(style='background-image: url(' + illustrationUrl + ');')
        div.wrapper
            h1.blog-title !{bloghome.getText('bloghome.headline')}
            p.lead.blog-description !{bloghome.getText('bloghome.description')}
    div.container.blog-main
        for post in posts
            +postContentPreview(post)
