<html>
    <head>
      <%- include('./partials/head'); %>
    </head>
    <body>
      <%- include('./partials/body'); %>
    </body>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
</html>