mixin postContent(post)
    div.blog-main.single.container
        for slice in post.getSliceZone('post.body').slices
            //- Render the right markup for a given slice type.
            case slice.sliceType
                when 'text'
                    div !{slice.value.asHtml()}
                when 'quote'
                    span.block-quotation !{slice.value.asText()}
                when 'image-with-caption'
                    - var imageWithCaption = slice.value.toArray()[0]
                    p.block-img
                        img(src=imageWithCaption.getImage('illustration').url)
                    p
                        span.image-label !{imageWithCaption.get('caption').asText()}





