- var general = helpers.general

mixin postContentPreview(post)
    - var slices = post.getSliceZone('post.body').value
    div.blog-post
        h2.blog-post-title
            a(href=ctx.linkResolver(post))
                !{post.getText('post.title')}
        p.blog-post-meta
            a.created-at !{general.getDate(post)}
        //- display first valid slice text and limit it respecting the end of words.
        - var firstParagraphInPost = general.firstStructuredTextsFromSlices(slices).getFirstParagraph().text
        - var textLimit = 300
        - var limitedText = firstParagraphInPost.substr(0, textLimit)
        !{firstParagraphInPost.length > textLimit ? limitedText.substr(0, limitedText.lastIndexOf(' ')) + '...' : firstParagraphInPost }
