extends ../layout.pug

block body

  div.error-container
    h4 Something went wrong. 
    nav
      ul
        li  Please check your Prismic endpoint configuration in the config/prismic-config.js file. It might be incorrect.
        li  Please check that your Custom Type API ID is correctly defined in the queries.
        li  Check the console for errors.